/* BASIC RESET */
body {
    margin: 0;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: #000;
}

/* NAVBAR */
nav {
    background: black;
    padding: 12px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover{
    color: aquamarine;
    text-decoration: underline;
}
nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    
}

/* MAIN CONTENT */
.container {
    width: 60%;
    margin: 40px auto;
}

h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

.desc {
    font-size: 18px;
    width: 80%;
    margin: 0 auto 20px;
}

.info {
    font-size: 18px;
    margin-top: 20px;
}

/* LOGIN BOX */
.login-box {
    width: 60%;
    margin: 30px auto;
    padding: 20px;
}

.login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 18px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-box button {
    margin-top: 15px;
    padding: 10px 30px;
    background: black;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

/* TEST CASES */
.testcases {
    margin-top: 50px;
    text-align: left;
    font-size: 18px;
}

.testcases h3 {
    margin-top: 40px;
}

.testcases ol {
    margin-left: 20px;
    line-height: 1.7;
}

hr {
    border: none;
    border-top: 2px solid #444;
    margin: 40px 0;
}


/* FOOTER */
footer {
    margin: 50px 0 20px;
    padding: 10px 0;
    font-size: 15px;
    border-top: 1px solid #ccc;
    background-color: black;
    color: #ccc;
}
